/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 15px 0;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main Content */
main {
    padding: 20px;
}

/* Image Container */
.image-container {
    margin: 20px auto;
    width: 80%;
}
.image-container img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


/* Image Gallery */
.image-gallery img {
justify-content: center;
    display: flex;
    /*flex-wrap: wrap;*/
    max-width: 60%;
    height: auto;
}

image-item {
     display: flex;
    justify-content: center; /* Alineación en el centro */
    gap: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 70%;  /* Limitar el tamaño de las imágenes */
}

.image-item img{ 
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 1.0s ease;  
}
.image-item img:hover, .image-gallery img:hover {
    transform: scale(1.1);
    z-index: 10;
}

/* Image Gallery 2 */
.image-gallery2 {
    display: flex;
    justify-content: center;
    /*gap: 50px;*/
    align-items: center; /* Centra las imágenes */
}

.image-pair {
    display: flex;
    justify-content: center; /* Alineación en el centro */
    gap: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 30%;  /* Limitar el tamaño de las imágenes */
}

.image-pair img {
    width: 20%;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 1.0s ease;   
}

.image-pair img:hover {
    transform: scale(1.1);
    z-index: 10;
}


/* Caption */
.caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    text-align: center; /* Centrar la caption */
}

/* Content Sections */
.content {
    text-align: left; 
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
section:nth-child(even) {
    background-color: #ffffff;
    transition: background-color 0.5s ease-in-out;
}
section:nth-child(odd) {
    background-color: #f0f0f0;
    transition: background-color 0.5s ease-in-out;
}




/* Footer */
footer {
    background: #333;
    color: white;
    padding: 20px 0;
    position: relative;
    width: 100%;
}

/* Contact */
.contacto {
    margin-top: 20px;
}
.contacto a {
    color: #fff;
    text-decoration: none;
}

/* Publications*/
.publicaciones ol {
    padding-left: 20px;
     text-align: left;
}
.publicaciones ol li {
    margin-bottom: 20px;
    line-height: 1.6;
     text-align: left;
}
.publicaciones article {
    text-align: left;
}
/* News */
.news article {
    text-align: left;
}

/* Miembross */
.miembros {
    text-align: left;
}

.social-links {
    list-style: none;
    padding: 0;
}
.social-links li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}
.social-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.social-links a i {
    margin-right: 8px;
}
.social-links a:hover {
    color: #007bff;
}
